import urllib2
import urllib
import re

dt = {}

d = {}
with open("data.txt") as f:
    for line in f:
       (nameid, itemid) = line.split()
       d[nameid] = itemid
        
       
       

d2 = {}
with open("data2.txt") as f:
    for line in f:
       (bar, c_num) = line.split()
       d2[bar] = int(c_num)

def bar_l():
    "gets the list of bars"
    for key in d:
        print key

def bars(itemid):
    "gets the bar price info. Type format : bars('Iron') " 
    a = ''
    if bar not in d:
       print 'That type of bar does not exist, please try again'
    else:
        a = d.get(bar)
        return 'The price of ' + str(bar) + ' bars are ' + str(a) + ' gold coins'
        
def c_num(bar):
    "gets the amount of coal needed"
    a = ''
    if bar not in d2:
        print 'That type of bar does not require coal, please try again'
    else:
        a = d2.get(bar)
        return 'The ' + str(bar) + ' bar requires ' + str(a) + ' coal per bar'

def fs(nameid):
   """grabs source code"""
   fileObj = open("data.txt", "w")
   clearstr = ""
   lastitem = ""
   cleartags = re.compile(r'<.*?>')
   request = urllib2.Request("http://www.runelocus.com/tools/itemlist.html?name=" + nameid+"&search=Search")
   response = urllib2.urlopen(request)
   html = response.read()
   startind = html.find("<tbody>")
   endind = html.find("</tbody>")
   iteminfo = html[startind:endind]
   trlist = [n for n in xrange(len(iteminfo)) if iteminfo.find('<td>', n) == n]
   tr_endlist = [n for n in xrange(len(iteminfo)) if iteminfo.find('</td>', n) == n]
   for num,content in enumerate(trlist):
      clearstr = cleartags.sub('',iteminfo[trlist[num]: tr_endlist[num]])
      if clearstr == "":
         a = cleartags.sub('',iteminfo[trlist[num-1]: tr_endlist[num-1]])
         b = cleartags.sub('',iteminfo[trlist[num-2]: tr_endlist[num-2]])
         if a != lastitem:
            fileObj.write("{0},{1}\n".format(a, b))
         lastitem = cleartags.sub('',iteminfo[trlist[num-1]: tr_endlist[num-1]]) 


      
def Webinfo(nameid):
    """grabs source code"""
    itemid = d[nameid]
    request = urllib2.Request("http://services.runescape.com/m=itemdb_rs/" + nameid + "/" +"viewitem.ws?obj="+ itemid)
    response = urllib2.urlopen(request)
    html = response.read()
    startind = html.find("<td>")
    endind = html.find("</td>")
    iteminfo = html[startind:endind]
    price = iteminfo[4:]
    dt.update({nameid:price})
    print 'The price of ' + nameid + ' is currently ' + str(price) + ' coins. '

def Calc(nameid, superheat):
    coalP = int(dt['Coal']) * ca
    barP = int(dt[nameid])
    natP = int(dt['Nature_rune'])
    
    if superheat == 'No':
        profit = barP - coalP
        print profit
    elif superheat == 'Yes':
        profit = barP - coalP - natP - oreP
        print barP
        print coalP
        print natP
        print profit
    else:
        print "Please enter Yes or No "


#links for data:
#http://services.runescape.com/m=itemdb_rs/results.ws     Just type in bar, ore and coal form the coresponding lists
#http://services.runescape.com/m=itemdb_rs/Nature_rune/viewitem.ws?obj=561      EXXTRA nature rune price

#Calculation:

#Profit = bar price - (coal Price * amount of coal) + ore price [optional + nature rune price]
#XpGain = smelthing xp [optional + superheat cast xp , magic] 
